<div class="container">
  <button mat-raised-button color="primary" class="new-list-button" (click)="openCreateListDialog()">
    <mat-icon>add</mat-icon> New List
  </button>

  <div *ngIf="listMenu.length == 0" class="empty-list">
    <img src="../../../../../assets/images/empty_list.svg">
    <p> Create a new list to get started !!!</p>
  </div>

  <div *ngIf="listMenu.length != 0" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let list of listMenu" [routerLink]="['/list',list.ItemID]" routerLinkActive #rla="routerLinkActive" [ngClass]="rla.isActive ? 'example-box-active' : 'example-box'" cdkDrag>
      <div class="list-text">
        <span class="list-name-span">{{list.ListName}}</span>
      </div>

      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="openListEditDialog(list)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="openDeleteDialog(list)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

  <mat-nav-list>
    <a mat-list-item routerLink="/"><span class="material-icons nav">dashboard</span>Dashboard</a>
    <a mat-list-item routerLink="/archive"><span class="material-icons nav">archive</span>Archive</a>
 </mat-nav-list>

</div>