<!-- Task List Component -->
<mat-card *ngIf="archiveList.length == 0">
    <img src="../../../../assets/images/empty_archive_list.svg">
</mat-card>

<div *ngIf="archiveList.length != 0" class="container example-list row-heading">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-xs-12 col-12 task-header">Task</div>
        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 col-3 row-header">Status</div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-4 row-header">Due Date</div>
        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 col-3 row-header">Priority</div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 col-2 row-header">Actions</div>
    </div>
</div>

<div *ngIf="archiveList.length != 0" cdkDropList class="container example-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let task of archiveList" ngClass="row example-box">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

        <div class="col-lg-7 col-md-7 col-xs-12 col-12 task-text-box">
            <mat-checkbox class="example-margin" color="primary" [checked]="task.isComplete" [disabled]="true" (change)="onCompleteCheck(task)"></mat-checkbox>
            <span class="task-text-span">{{task.TaskTitle}}</span>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 col-3 status-box" style="background-color: #808080;">{{task.TaskStatus}}</div>

        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-4 due-date-box">
            <span matTooltip="Due Date" class="dueDate">{{getMomentFormat(task.TaskDueDT)}}</span>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 col-3 priority-box" style="background-color: #808080;">{{task.TaskPriority}}</div>

        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 col-2 action-box">
            <span>No Action</span>
        </div>

    </div>
</div>