<div class="example-container">
    <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
        <img routerLink="/" src="../../../assets/images/tasker_logo_new.png" width="140" height="140">
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
            <app-create-list-button></app-create-list-button>
            <mat-nav-list>
                <app-list-menu></app-list-menu>
                <!-- <router-outlet name="app-list-menu"></router-outlet> -->
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>