mat-card {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96%;
}

img{
    max-width: 50%;
    max-height: 50%;
}


mat-grid-tile {
    background: lightblue;
  }
